<div class="container">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    I’M ARNE,
    <span class="text-orange-600 dark:text-orange-600">Professional Trainer</span> .</h1>
    <br>
  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
    Before reaching my current position, I faced similar challenges to those you might be experiencing now. Dissatisfied with my appearance and overall well-being, I lacked the knowledge necessary to achieve my goals and lacked guidance. At the age of 19, I committed to making a change, enlisting the help of someone to craft a personalized fitness plan. Once I embarked on this journey, there was no turning back—it marked the beginning of a transformative period for me. Bolstered by newfound confidence, I found the strength to overcome obstacles and achieve any objective.
    <br>
    <br>
    Whether your aim is weight loss, fitness, or bodybuilding, I am here to guide you on your journey.
    <br>
    <br>
    It took me 15 years to arrive at where I stand today, accumulating extensive knowledge about effective workouts, recipes, and proven strategies for a comprehensive lifestyle change. I am eager to share this knowledge with you.
    <br>
    <br>
    I leverage my expertise to create the most effective programs tailored to your body type, schedule, and personal goals. From detailed exercises to easy-to-make recipes, everything is customized to fit YOU.
    <br>
    <br>
    So, what are you waiting for?
  </p>
  <p class="text-lg font-normal text-gray-500 dark:text-gray-400">It's time to elevate YOU to the <a href="/programs" class="font-medium text-orange-600 underline dark:text-orange-500 dark:hover:text-orange-600 hover:text-orange-700 hover:no-underline">next level.</a> </p>

</div>
